<template>
  <v-app>
    <!-- sidebar -->
    <Sidebar :Drawer="Drawer" />
    <!-- Toolbar -->
    <Toolbar :Drawer="Drawer" />
    <!-- Content -->
    <v-content>
      <HelloWorld/>
    </v-content>
  </v-app>
</template>

<script>
import HelloWorld from './components/HelloWorld';
import Sidebar from './layouts/Sidebar';
import Toolbar from './layouts/Toolbar';

export default {
  name: 'App',

  components: {
    HelloWorld,
    Sidebar,
    Toolbar,
  },

  data: () => ({
    // setting
    drawers: ['drawer','temporary'],
    Drawer: {
      model: null,
      floating: false,
      clipped: false,
      mini: false,
    }
  }),

  methods: {
    drawerClick() {
      
    }
  }
};
</script>
