<template>
	<v-navigation-drawer
		v-model="Drawer.model"
		:floating="Drawer.floating"
		:clipped="Drawer.clipped"
		:mini-variant="Drawer.mini"
		:temporary="Drawer.type === 'temporary'"
		app
		overflow
	>
		<v-list dense>
			<v-list-item icon @click="Drawer.mini = !Drawer.mini">
				<v-list-item-avatar>
					<img
						src="https://cdn.vuetifyjs.com/images/john.jpg"
						alt="John"
					>
				</v-list-item-avatar>
				<v-list-item-title>Admin</v-list-item-title>
				<v-btn
					icon
				>
					<v-icon>mdi-chevron-left</v-icon>
				</v-btn>
			</v-list-item>
			<v-list-item link>
				<v-list-item-action>
					<v-icon>mdi-view-dashboard</v-icon>
				</v-list-item-action>
				<v-list-item-content>
					<v-list-item-title>Dashboard</v-list-item-title>
				</v-list-item-content>
			</v-list-item>
			<v-list-item link>
				<v-list-item-action>
					<v-icon>mdi-settings</v-icon>
				</v-list-item-action>
				<v-list-item-content>
					<v-list-item-title>Settings</v-list-item-title>
				</v-list-item-content>
			</v-list-item>
		</v-list>
		
		<v-spacer></v-spacer>
		<template v-slot:append>
        <div class="pa-2">
          <v-btn block><v-icon>mdi-lock-open</v-icon>Logout</v-btn>
        </div>
      </template>
	</v-navigation-drawer>
</template>

<script>
export default {
	name: 'Sidebar',
	props: ["Drawer"]
}
</script>