<template>
	<v-app-bar
		app
		color="primary"
		dark
		:clipped-left="Drawer.clipped"
	>
		<v-app-bar-nav-icon
			v-if="Drawer.type !== 'drawer'"
			@click.stop="Drawer.model = !Drawer.model"
		/>
		<div class="d-flex align-center">
			<v-img
				alt="Vuetify Logo"
				class="shrink mr-2"
				contain
				src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png"
				transition="scale-transition"
				width="40"
			/>
			<span class="mr-2">BROKR</span>        
		</div>

		<v-spacer></v-spacer>

		<v-btn
			href="/"
			text
		>
			<v-icon>mdi-open-in-new</v-icon>
			<span class="mr-2">Admin</span>        
		</v-btn>
		<v-menu bottom left offset-y>
			<template v-slot:activator="{ on }">
				<v-btn
					dark
					icon
					v-on="on"
				>
					<v-icon>mdi-dots-vertical</v-icon>
				</v-btn>
			</template>

			<v-list dense>
				<v-list-item link v-for="(item, i) in items" :key="i">
					<v-list-item-action>
						<v-icon>{{ item.icon }}</v-icon>
					</v-list-item-action>
					<v-list-item-content>
						<v-list-item-title>{{ item.text }}</v-list-item-title>
					</v-list-item-content>
				</v-list-item>
			</v-list>
		</v-menu>
	</v-app-bar>
</template>

<script>
export default {
	name: 'Toolbar',
	props: ["Drawer"],
	data: () => ({
		item: 1,
		items: [
			{ text: 'User Profile', icon: 'mdi-account' },
			{ text: 'Settings', icon: 'mdi-settings'},			
			{ text: 'Logout', icon: 'mdi-lock'}
		]
	})
}
</script>